<div class="center-align">

  <h1>Oficina Raudel</h1>

</div>

<div class="row">
  <div class="col s4 offset-s4">
    <form #formLogin="ngForm" (submit)="signIn(formLogin)">
      <div class="row">
        <div class="input-field ">
          <input [(ngModel)]="login" id="login" name="login" type="text" class="validate" required="" aria-required="true">
          <label for="login">E-mail</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field ">
          <input [(ngModel)]="password" id="password" name="password" type="password" class="validate" required=""
            aria-required="true">
          <label for="password">Senha</label>
        </div>
      </div>
      <button class="btn waves-effect waves-light" type="submit" name="action">Login</button>
      <a routerLink="" class="space">Esqueci minha senha.</a>
    </form>
  </div>
</div>