<nav>
  <div class="nav-wrapper grey darken-4">
    <a routerLink="/" class="brand-logo center">{{ logo }}</a>

    <a routerLink="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>

    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li>
        <a routerLink="/">Início</a>
      </li>
      <li *ngFor="let item of itMenu">
        <a routerLink="/{{ item }}">{{ item }}</a>
      </li>
    </ul>

    <div *ngIf="!isConected" class="right hide-on-med-and-down">
      <ul id="nav-mobile">
        <li><a id="login" routerLink="/Login">Entrar</a></li>
        <li><a id="signUp" routerLink="/SignUp">Cadastrar</a></li>
      </ul>
    </div>

    <ul *ngIf="isConected" class="right hide-on-med-and-down">
      <li>
        <div class="chip">
          <img [src]="img" alt="Contact Person"> {{ usuario }}
        </div>
      </li>
      <li><a class="dropdown-trigger" data-target="dropdown1"><i class="material-icons right">settings</i></a></li>
    </ul>
  </div>
</nav>

<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a routerLink="">Perfil</a></li>
  <li><a routerLink="">Marcar</a></li>
  <li><a routerLink="">Consultar Situação</a></li>
  <li><a routerLink="">Sair</a></li>
</ul>

<!-- sidenav -->
<ul class="sidenav" id="mobile-demo">

  <li *ngIf="!isConected"><a id="login" routerLink="/Login">Entrar</a></li>
  <li *ngIf="!isConected"><a id="signUp" routerLink="/SignUp">Cadastrar</a></li>


  <li *ngIf="isConected">
    <div class="user-view">
      <div class="background">
        <img class="imgBgPerfil" [src]="bgPerfil">
      </div>

      <div class="row">
        <div class="col s12 offset-s8">
          <img class="circle" [src]="img">
        </div>
      </div>


      <a class="dropdown-trigger" data-target="dropdown1"><span class="white-text name">{{ usuario }}</span></a>
      <span class="white-text email">{{ email }}</span>
    </div>
  </li>

  <li class="divider" tabindex="-1"></li>

  <li>
    <a routerLink="/">Início</a>
  </li>

  <li *ngFor="let item of itMenu">
    <a routerLink="/{{ item }}">{{ item }}</a>
  </li>

</ul>