<nav>
  <div class="nav-wrapper grey darken-4">
    <a href="/" class="brand-logo center">{{ logo }}</a>
    <ul id="nav-mobile" class="left">
      <li>
        <a href="/">Home</a>
      </li>
      <li *ngFor="let item of itMenu">
        <a href="/{{ item }}">{{ item }}</a>
      </li>
    </ul>

    <ul id="nav-mobile" class="right">
      <li><a id="login" href="#">Login</a></li>
    </ul>

    <div id="login-form" class="webui-popover-content">
      <form action="" method="post">
        <div class="input-field">
          <input type="text" placeholder="username">
        </div>
        <div class="input-field">
          <input type="password" placeholder="password">
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Login
          <i class="material-icons right">send</i>
        </button>
      </form>
    </div>

  </div>
</nav>