/* .logo1 {
    width: 300px;
    height: 300px;
    background: url(img/logo.svg);
    background-position: -900px 0px;
  }
  
 
  @media only screen and (min-width: 15em) {
      .logo1 {background-position: left -900px;}
  }
  
  @media only screen and (min-width: 28em) {
      .logo1 {background-position: left -600px;}
  }
  
  @media only screen and (min-width: 45em){
      .logo1 {background-position: left -300px;}
  }
  
  @media only screen and (min-width: 60em){
      .logo1   {background-position: left 0px;}
   } */

.space {
    margin-left: 10px;
}