<div class="row #fbfbfb">
  <div class=" col s10 offset-s1">

    <h3 class="center-align">Cadastro</h3>

    <form #signupForm="ngForm" (submit)="validar(signupForm)" class="col s12">

      <div class="row">
        <div class="input-field col s12 m10 offset-m1">
          <input id="first_name" type="text" class="validate">
          <label for="first_name">Nome</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12 m5 offset-m1">
          <input id="cpf" type="text" class="validate">
          <label for="cpf">CPF</label>
        </div>
        <div class="input-field col s12 m5">
          <input id="fone" type="text" class="validate">
          <label for="fone">Telefone</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12 m10 offset-m1">
          <input id="nasc" type="text" class="datepicker">
          <label for="nasc">Data de Nascimento</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12 m10 offset-m1">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12 m5 offset-m1">
          <input id="password" type="password" class="validate">
          <label for="password">Senha</label>
        </div>
        <div class="input-field col s12 m5">
          <input id="passwordConfirm" type="password" class="validate">
          <label for="passwordConfirm">Confirmar Senha</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12 m12 ">
          <fieldset class="fieldset">
            <legend>Endereço</legend>

            <div class="row">
              <div class="input-field col s12 m5 offset-m1">
                <select id="pais">
                  <option value="" disabled selected>Selecione seu País</option>
                  <option value="BR">Brasil</option>
                  <option value="UK">Ulkrain</option>
                  <option value="RS">Russian</option>
                </select>
                <label for="pais">País</label>
              </div>
              <div class="input-field col s12 m5">
                <input id="cep" type="text" class="validate">
                <label for="cep">CEP</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12 m5 offset-m1">
                <select id="estado">
                  <option value="" disabled selected>Selecione seu Estado</option>
                  <option value="AL">Alagoas</option>
                  <option value="PE">Pernambuco</option>
                  <option value="PB">Paraíba</option>
                </select>
                <label for="estado">Estado</label>
              </div>
              <div class="input-field col s12 m5">
                <input id="municipio" type="text" class="validate">
                <label for="municipio">Município</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12 m10 offset-m1">
                <input id="cidade" type="text" class="validate">
                <label for="cidade">Cidade</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12 m10 offset-m1">
                <input id="bairro" type="text" class="validate">
                <label for="bairro">Bairro</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12 m10 offset-m1">
                <input id="rua" type="text" class="validate">
                <label for="rua">Rua</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12 m5 offset-m1">
                <input id="numero" type="text" class="validate">
                <label for="numero">Número</label>
              </div>
              <div class="input-field col s12 m5">
                <input id="complemento" type="text" class="validate">
                <label for="complemento">Complemento</label>
              </div>
            </div>

          </fieldset>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12 m5 offset-m1">
          <label>
            <input type="checkbox" />
            <span>Aceito os <a routerLink="#modal1">Termos de Condições</a>.</span>
          </label>
        </div>

        <div class="input-field">
          <button class="btn waves-effect waves-light col s12 m2 offset-m9" type="submit">Cadastrar</button>
        </div>
      </div>

    </form>
  </div>
</div>