<div class="row #fbfbfb">
  <div class=" col s10 offset-s1">

    <h3 class="center-align">Cadastro</h3>

    <form class="col s12">
      <div class="row">
        <div class="input-field col s12 m10 offset-m1">
          <input id="first_name" type="text" class="validate">
          <label for="first_name">Nome</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m5 offset-m1">
          <input id="cpf" type="text" class="validate">
          <label for="cpf">Cpf</label>
        </div>
        <div class="input-field col s12 m5">
          <input id="fone" type="text" class="validate">
          <label for="fone">Telefone</label>
        </div>
      </div>


      <div class="row">
        <div class="input-field col s12 m10 offset-m1">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>


      <div class="row">
        <div class="input-field col s12 m5 offset-m1">
          <input id="password" type="password" class="validate">
          <label for="password">Senha</label>
        </div>


        <div class="input-field col s12 m5">
          <input id="passwordConfirm" type="password" class="validate">
          <label for="passwordConfirm">Confirmar Senha</label>
        </div>
      </div>

      <div class="row">

        <div class="input-field col s12 m5 offset-m1">
          <label>
            <input type="checkbox" />
            <span>Aceito os <a routerLink="#modal1">Termos de Condições</a>.</span>
          </label>
        </div>

        <div class="input-field">
          <button class="btn waves-effect waves-light col s12 m2 offset-m9" type="submit" name="action">Cadastrar</button>
        </div>
      </div>




    </form>
  </div>
</div>