<div class="row #fbfbfb">
  <div class=" col s10 offset-s1">

    <h3 class="center-align">Cadastro</h3>

    <form #signupForm="ngForm" (submit)="validar(signupForm)" class="col s12">

      <div class="row">
        <div class="input-field col s12 m10 offset-m1">
          <input [(ngModel)]="user.name" name="name" id="name" type="text" class="validate" required="" aria-required="true">
          <label for="name">Nome</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12 m5 offset-m1">
          <input [(ngModel)]="user.cpf" name="cpf" id="cpf" type="text" class="validate" required="" aria-required="true">
          <label for="cpf">CPF</label>
        </div>
        <div class="input-field col s12 m5">
          <input [(ngModel)]="user.fone" name="fone" id="fone" type="text" class="validate" required="" aria-required="true">
          <label for="fone">Telefone</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12 m10 offset-m1">
          <input [(ngModel)]="user.dtNac" name="dtNac" id="dtNac" type="date" class="validate" required="" aria-required="true">
          <label for="dtNac">Data de Nascimento</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12 m10 offset-m1">
          <input [(ngModel)]="user.email" name="email" id="email" type="email" class="validate" required="" aria-required="true">
          <label for="email">Email</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12 m5 offset-m1">
          <input [(ngModel)]="password" name="password" id="password" type="password" class="validate" required="" aria-required="true">
          <label for="password">Senha</label>
        </div>
        <div class="input-field col s12 m5">
          <input id="passwordConfirm" type="password" class="validate" required="" aria-required="true">
          <label for="passwordConfirm">Confirmar Senha</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12 m12 ">
          <fieldset class="fieldset">
            <legend>Endereço</legend>

            <div class="row">
              <div class="input-field col s12 m5 offset-m1">
                <select [(ngModel)]="user.pais" name="pais" id="pais" required="" aria-required="true">
                  <option value="" disabled selected>Selecione seu País</option>
                  <option value="BR">Brasil</option>
                  <option value="UK">Ulkrain</option>
                  <option value="RS">Russian</option>
                </select>
                <label for="pais">País</label>
              </div>
              <div class="input-field col s12 m5">
                <input [(ngModel)]="user.cep" name="cep" id="cep" type="text" class="validate" required="" aria-required="true">
                <label for="cep">CEP</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12 m5 offset-m1">
                <select [(ngModel)]="user.estado" name="estado" id="estado" required="" aria-required="true">
                  <option value="" disabled selected>Selecione seu Estado</option>
                  <option value="AL">Alagoas</option>
                  <option value="PE">Pernambuco</option>
                  <option value="PB">Paraíba</option>
                </select>
                <label for="estado">Estado</label>
              </div>
              <div class="input-field col s12 m5">
                <input [(ngModel)]="user.cidade" name="cidade" id="cidade" type="text" class="validate" required="" aria-required="true">
                <label for="cidade">Cidade</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12 m10 offset-m1">
                <input [(ngModel)]="user.bairro" name="bairro" id="bairro" type="text" class="validate" required="" aria-required="true">
                <label for="bairro">Bairro</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12 m10 offset-m1">
                <input [(ngModel)]="user.rua" name="rua" id="rua" type="text" class="validate" required="" aria-required="true">
                <label for="rua">Rua</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12 m5 offset-m1">
                <input [(ngModel)]="user.numero" name="numero" id="numero" type="text" class="validate" required="" aria-required="true">
                <label for="numero">Número</label>
              </div>
              <div class="input-field col s12 m5">
                <input [(ngModel)]="user.complemento" name="complemento" id="complemento" type="text" class="validate">
                <label for="complemento">Complemento</label>
              </div>
            </div>

          </fieldset>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12 m5 offset-m1">
          <label>
            <input id="terms" type="checkbox" />
            <span>Aceito os <a routerLink="#modal1">Termos de Condições</a>.</span>






            

            <!-- Modal Structure -->
            <div id="modal1" class="modal">
              <div class="modal-content">
                <h4>Modal Header</h4>
                <p>A bunch of text</p>
              </div>
              <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
              </div>
            </div>










          </label>
        </div>

        <div class="input-field">
          <button type="submit" class="btn waves-effect waves-light col s12 m2 offset-m9">Cadastrar</button>
        </div>
      </div>

    </form>
  </div>
</div>